extends layout

block content
  div(style='border: solid 1px #ccc;clear:both;')
    div.filter(style='width:45%;padding:5px;float:left;')
      div(style='clear: both;')
        label Platform
          br
          input.platform(type='checkbox',  value='android' )
          label Android
          input.platform(type='checkbox', value='ios7')
          label iOS
          input.platform(type='checkbox', value='windows')
          label Windows

      div(style='clear: both;')
        label Features
        br
        input.dualcore(type='checkbox', value='y')
        label Dual core
        input.camera(type='checkbox', value='5')
        label
          | 5MP Camera
        input.dualsim(type='checkbox', value='y')
        label  Dual SIM
        input.ram(type='checkbox', value='1')
        label
          | 1GB RAM
    div(style='width:45%; padding:5px;float:left;border-left:solid 1px #000; ')
      #total
      ul.data(style='list-style:none')
        include product
        

    div(style='clear:both')

  script.
    var plaform_map = [];
    var map ={};
    $('.filter div input').live('change', function(){
      var cat = this.value;
      var filter = $(this).attr('class');
      var state = $(this).attr('checked');
      if(state === 'checked' || state === 'true') {
        map[cat] = {
          key: filter,
          value: cat
        };
      }
      else {
        delete map[cat];
      }
      var entry;
      for (entry in map) {
        plaform_map.push(map[entry])
      }
      $.get('/filter',{filter:plaform_map,}, function(res) {
        $('#total').text('we have '+ res.length+ ' items of these category');

        console.log(res.length);
      });
      plaform_map = [];

    });





